HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/bin/
/src/main/java/com/example/i_o_spring_project/controller/AdminController.java.orig
/src/main/java/com/example/i_o_spring_project/service/CompanyService.java.orig
/src/main/java/com/example/i_o_spring_project/exceptions/SystemExceptions.java.orig
/src/main/java/com/example/i_o_spring_project/service/AdminService.java.orig
/src/main/java/com/example/i_o_spring_project/service/ClientService.java.orig
/src/main/java/com/example/i_o_spring_project/service/CustomerService.java.orig
/src/main/java/com/example/i_o_spring_project/service/LoginManager.java.orig
/src/main/java/com/example/i_o_spring_project/Test.java.orig
